{% extends "base.html" %}
{% block title %}New count{% endblock %}
{% block content %}
<h1>Count stock</h1>

<form method="post" class="stack">
  {% csrf_token %}

  <fieldset class="choice">
    <legend>Where</legend>
    {% for loc in locations %}
      <label class="choice__opt">
        <input type="radio" name="location" value="{{ loc.pk }}" {% if forloop.first %}checked{% endif %}>
        <span>{{ loc.name }}</span>
      </label>
    {% endfor %}
  </fieldset>

  <fieldset class="choice">
    <legend>Which count</legend>
    {% for value, label in cadences %}
      <label class="choice__opt">
        <input type="radio" name="cadence" value="{{ value }}" {% if value == "WEEKLY" %}checked{% endif %}>
        <span>{{ label }}</span>
      </label>
    {% endfor %}
  </fieldset>

  <button class="btn btn--primary btn--big" type="submit">Start counting</button>
</form>
{% endblock %}
